{# advert Twig template #}
{% extends 'TautofBundle:elements:base.html.twig' %}
{% block body %}
    <div class="container">
        <h2 class="text-center">{{ advert.title }}</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                {% if advert.pic2 != null %}
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                {% endif %}
                {% if advert.pic3 != null %}
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                {% endif %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img class="tales" src="{{ asset(advert.pic1) }}" alt="Photo 1">
                </div>
                {% if advert.pic2 != null %}
                    <div class="item">
                        <img class="tales" src="{{ asset(advert.pic2) }}" alt="Photo 2">
                    </div>
                {% endif %}
                {% if advert.pic3 != null %}
                    <div class="item">
                        <img class="tales" src="{{ asset(advert.pic3) }}" alt="Photo 3">
                    </div>
                {% endif %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
            {{ advert.descr }}
    </div>
{% endblock %}